* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

#container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 93vh;
}

#central {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    overflow: auto;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

thead {
    background-color: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

thead th {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dcdcdc;
}

tbody td {
    font-size: 16px;
    padding: 12px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}