*{
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #F0ECEC;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#central {
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

#start {
    text-align: center;
}

.title {
    font-size: 32px;
    color: #595959;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #B4E1E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #A2D2D2;
}

.errorMessage {
    color: #FF7575;
    margin-top: 10px;
    font-size: 20px;
}